# Data Mining - Final Project
# Alireza Ranjbar 
# -------------------------------------------------------------------------------------------

In [16]:
# Required libraries for Apriori amd FPGrowth algorithms

import efficient_apriori
from mlxtend.frequent_patterns import apriori, fpgrowth
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

# Importing pandas library for doing process on dataframes
import pandas as pd

# Opening Dataset

In [17]:
df = pd.read_csv('orders.csv')
df

,ID_Order,ID_Customer,ID_Item,DateTime_CartFinalize,Amount_Gross_Order,city_name_fa,Quantity_item
0,2714054,469662,21386,2015-10-15 08:50:56.000,597982,محمود آباد,1
1,11104039,3063877,248497,2018-02-11 00:29:26.000,980000,خرمدره,1
2,4228130,3184893,50144,2016-06-14 00:30:08.000,229358,قرچک,1
3,22225624,6888562,70208,2018-09-03 14:37:19.000,16514,قم,1
4,4068771,2533490,67627,2016-05-21 11:51:02.000,133028,تهران,1
...,...,...,...,...,...,...,...
199995,12172771,4403268,445940,2018-04-03 12:07:01.000,344037,تهران,2
199996,4425393,3745774,131645,2016-07-09 19:14:09.000,600000,محمدیه,1
199997,6671889,4845514,215045,2017-03-08 23:47:06.000,450000,اصفهان,1
199998,6315995,2541418,264021,2017-02-08 14:59:39.000,193486,همدان,1
199999,7584127,1342585,89427,2017-06-17 10:08:06.000,55046,بندر انزلی,1

# List of cities

In [ ]:
df.city_name_fa.unique()

array(['محمود آباد', 'خرمدره', 'قرچک', 'قم', 'تهران', 'مشهد', 'اصفهان',
       'رشت', 'خرمشهر', 'لالی', 'تنکابن', 'کرج', 'اهواز', 'شاهین شهر',
       'زنجان', 'ساری', 'کلور', 'هچیرود', 'مبارکه', 'آبادان', 'کیش',
       'بندر انزلی', 'بروجرد', 'قائم شهر', 'آستانه اشرفیه', 'شیراز',
       'آمل', 'کرمانشاه', 'بوشهر', 'قزوین', 'بندر عباس', 'نیشابور',
       'تبریز', 'اراک', 'ایلام', 'لاهیجان', 'علی آباد', 'یزد', 'زابل',
       'شهرکرد', 'رویدر', 'کبودر آهنگ', 'تاکستان', 'هشتگرد', 'گرگان',
       'خمام', 'ورزنه', 'گنبدکاووس', 'همدان', 'زرند', 'نوشهر', 'هادیشهر',
       'شهریار', 'فلاورجان', 'کازرون', 'دیواندره', 'خمین', 'صغاد',
       'شهر جدید صدرا', 'کرمان', 'بیرجند', 'آستارا', 'اردبیل', 'دزفول',
       'نجف آباد', 'دورود', 'سمنان', 'ساوه', 'خرم آباد', 'سربیشه',
       'سبزوار', 'سیاهکل', 'فومن', 'اسلام آباد غرب', 'اسلامشهر', 'سردشت',
       'جیرفت', 'فردیس', 'شبستر', 'لنگرود', 'گرمدره', 'طرقبه', 'شوش',
       'آشخانه', 'ارزوئیه', 'میاندوآب', 'الیگودرز', 'تربت جام', 'کوهدشت',
       'یاسوج', 'بستک', 'درگهان', 'تویسرکان', 'زاهدان', 'ارومیه', 'تفت',
       'گلپایگان', 'لار', 'بهبهان', 'پاکدشت', 'حمیل', 'الوند', 'لالجین',
       'ابهر', 'سر پل ذهاب', 'بهشهر', 'چالوس', 'اردکان', 'منوجان',
       'پردیس', 'قشم', 'مراغه', 'دوگنبدان', 'شاهرود', 'رودسر', 'بم',
       'صومعه سرا', 'ملارد', 'لشت نشاء', 'بندر ترکمن', 'نمین', 'دماوند',
       'شادگان', 'محمدیه', 'مرند', 'مشکین دشت', 'سنندج', 'کمال شهر',
       'نی ریز', 'نور', 'راسک', 'عباس آباد', 'کلاچای', 'بابلسر',
       'رفسنجان', 'قدس', 'شیروان', 'خمینی شهر', 'بجنورد', 'رویان', 'سراب',
       'محلات', 'امیدیه', 'بابل', 'مهاباد', 'دامغان', 'کاشان', 'بومهن',
       'گیلانغرب', 'کرد کوی', 'بندر ماهشهر', 'تربت حیدریه',
       'شهر جدید هشتگرد', 'کلاله', 'اندیشه', 'ملایر', 'بندر لنگه',
       'رامسر', 'چادگان', 'اقلید', 'محمد شهر', 'سیرجان', 'شهر جدید سهند',
       'مس سرچشمه', 'هیدج', 'چهار برج', 'سقز', 'بندر کنگان', 'بانه',
       'مراوه تپه', 'سریش آباد', 'بندر گناوه', 'پیشوا', 'کلیبر',
       'سپید دشت', 'فولاد شهر', 'رضوانشهر', 'پلدختر', 'بیجار', 'سوسنگرد',
       'فسا', 'ملکان', 'میبد', 'نسیم شهر', 'قمصر', 'خلخال', 'دهبارز',
       'درگز', 'ماکو', 'بافت', 'پارسیان', 'کهنوج', 'قیر', 'خنداب',
       'شهر بابک', 'هشتپر', 'سراوان', 'اشکذر', 'سلمان شهر', 'گرمی',
       'کوار', 'آذرشهر', 'مسجد سلیمان', 'بیله سوار', 'گلدشت', 'جهرم',
       'دهاقان', 'اهر', 'عجب شیر', 'مهران', 'ایذه', 'کوزه کنان', 'خورموج',
       'صحنه', 'جویبار', 'خورزوق', 'میناب', 'اوز', 'کلارآباد', 'گلستان',
       'ایج', 'آباده', 'ورامین', 'طالقان', 'خوش رودپی', 'بروجن', 'گرمسار',
       'فریدونکنار', 'عسلویه', 'کاشمر', 'کنارک', 'رامهرمز', 'باخرز',
       'نکا', 'رباط کریم', 'گراش', 'سلماس', 'جم', 'نشتارود', 'مامونیه',
       'آبیک', 'رحیم آباد', 'شهر جدید پرند', 'فرخ شهر', 'خارک', 'ری',
       'مریوان', 'بندر دیر', 'استهبان', 'شهرضا', 'بشرویه',
       'شهر جدید مهاجران', 'ممقان', 'درچه پیاز', 'املش', 'تودشک',
       'آران و بیدگل', 'مرودشت', 'اندیمشک', 'آبش احمد', 'سنقر', 'بادرود',
       'سرابله', 'چهاردانگه', 'صالحیه', 'لامرد', 'نهاوند',
       'بندر امام خمینی', 'بردسیر', 'قوچان', 'خوانسار', 'بردسکن', 'شوشتر',
       'گناباد', 'زاویه', 'دره شهر', 'پارس آباد', 'آستانه', 'فشم',
       'ایوان', 'سروستان', 'جاجرم', 'بافق', 'میانه', 'بناب', 'چوبر',
       'ورنامخواست', 'هریس', 'دهدز', 'سی سخت', 'کهک', 'دیزیچه',
       'جعفر آباد', 'زرین شهر', 'ایرانشهر', 'کیاشهر', 'قیدار', 'جالق',
       'کیلان', 'حسن آباد', 'دلیجان', 'اسفراین', 'خور', 'نهبندان',
       'فامنین', 'اردستان', 'هشترود', 'آزاد شهر', 'نظر آباد', 'زارچ',
       'شفت', 'نقده', 'رودهن', 'سردرود', 'فریمان', 'گلوگاه', 'مهر',
       'دهلران', 'نوش آباد', 'زیرآب', 'صفا شهر', 'قروه', 'بوکان',
       'سرایان', 'بندر دیلم', 'سورک', 'شازند', 'چاه بهار', 'خنجین',
       'سمیرم', 'بهارستان', 'آشتیان', 'تکاب', 'مهریز', 'هرسین', 'سرخرود',
       'شاهین دژ', 'بهنمیر', 'فیروزکوه', 'چناران', 'خاش', 'وایقان',
       'کوشکنار', 'ماسال', 'شریف آباد', 'امیر کلا', 'کوهبنان', 'اهرم',
       'لوشان', 'کاکی', 'بوانات', 'نورآباد', 'گالیکش', 'کلاردشت',
       'ابریشم', 'مشگین شهر', 'خوی', 'میامی', 'ابرکوه', 'سرباز',
       'کوچصفهان', 'بن', 'سامان', 'گودین', 'چابکسر', 'نیک شهر',
       'زید آباد', 'هفشجان', 'دهدشت', 'خمیر', 'عشق آباد', 'کهریزسنگ',
       'سعادت شهر', 'نطنز', 'بدره', 'تفرش', 'جلفا', 'نیمور', 'قهدریجان',
       'توحید', 'سرخس', 'مزرعه', 'گهواره', 'ماهدشت', 'بیضا', 'کنگ',
       'داراب', 'آبدانان', 'شلمزار', 'کمیجان', 'آق قلا', 'باقرشهر',
       'چمران', 'لطیفی', 'شاندیز', 'قصر شیرین', 'لنده', 'بازرگان', 'شال',
       'طبس', 'ازنا', 'دمق', 'دهگلان', 'مینودشت', 'فیروزآباد', 'بنارویه',
       'خمارلو', 'بردستان', 'برازجان', 'نصرآباد', 'طاقانک', 'جوانرود',
       'تایباد', 'جغتای', 'زرقان', 'داران', 'آب بر', 'رستم آباد',
       'روانسر', 'میمه', 'نائین', 'ایوانکی', 'بسطام', 'هرات', 'چمستان',
       'تاتار علیا', 'منجیل', 'لواسان', 'پره سر', 'فاضل آباد',
       'سیمین شهر', 'ایزد شهر', 'ابوحمیظه', 'کوت عبدالله', 'قائن',
       'کنگاور', 'الشتر', 'فیروزان', 'سیه چشمه', 'گندمان', 'جعفریه',
       'لردگان', 'اسدیه', 'بیارجمند', 'پیرانشهر', 'دهرم', 'قهجاورستان',
       'فارسان', 'کلات', 'باغ بهادران', 'راور', 'قصر قند', 'خشکرود',
       'خواف', 'اسفدن', 'نرماشیر', 'رودبار', 'کیاسر', 'شهمیرزاد',
       'کهریزک', 'سرخه', 'ریوش', 'صالح آباد', 'دندی', 'محمد آباد',
       'بندر گز', 'اسالم', 'فردوس', 'دلند', 'اسکو', 'فریدونشهر', 'شوط',
       'آبگرم', 'کرکوند', 'جیرنده', 'میلاجرد', 'نقاب', 'سوق',
       'چاف و چمخاله', 'بندر جاسک', 'گتوند', 'هوراند', 'فیض آباد',
       'وراوی', 'پیر بکران', 'نوده خاندوز', 'دولت آباد', 'بهار',
       'بوئین زهرا', 'باغستان', 'صفادشت', 'گراب', 'کشکوئیه', 'ایلخچی',
       'بیدخت', 'کوهی خیل', 'خلیل آباد', 'علویچه', 'نقنه', 'آبپخش',
       'پل سفید', 'زهک', 'دستجرد', 'بردخون', 'سورشجان', 'کشکسرای',
       'زاینده رود', 'اسد آباد', 'راین', 'شیبان', 'هویزه', 'وزوان',
       'رابر', 'گلشهر', 'فراشبند', 'نوخندان', 'بستان آباد', 'رزن', 'چرام',
       'صائین قلعه', 'گز برخوار', 'شیرگاه', 'ضیاء آباد', 'رامیان',
       'ترکالکی', 'بنت', 'شبانکاره', 'سنگر', 'فرادنبه', 'خومه زار',
       'تسوج', 'کامیاران', 'کومله', 'حاجی آباد', 'لوندویل', 'مروست',
       'قروه در جزین', 'سیراف', 'رشتخوار', 'خشت', 'کرند غرب', 'بلده',
       'مهرستان', 'موسیان', 'باغ ملک', 'ویس', 'ملاثانی', 'خان ببین',
       'شاهدیه', 'رونیز', 'ابوموسی', 'زواره', 'شاهدشهر', 'اشنویه',
       'ایمانشهر', 'پلدشت', 'هندیجان', 'سه قلعه', 'بانوره', 'رستمکلا',
       'درق', 'گله دار', 'مهدی شهر', 'خضری دشت بیاض', 'طبس مسینا',
       'دستگرد', 'شیرود', 'قره ضیاء الدین', 'علویجه', 'ماهان', 'هشتبندی',
       'فردوسیه', 'ساروق', 'رضی', 'اقبالیه', 'سوران', 'لیکک', 'سرخنکلاته',
       'کتالم و سادات شهر', 'زرنق', 'سده لنجان', 'خنج', 'خشکبیجار',
       'تیران', 'احمد آباد', 'نخل تقی', 'انار', 'ابوزید آباد', 'امیریه',
       'رینه', 'هادی شهر', 'نوسود', 'انارستان', 'ویسیان', 'سیرکان',
       'کوهپایه', 'منظریه', 'سندرک', 'لولمان', 'بلداجی', 'گیوی',
       'خسروشاه', 'اشتهارد', 'دوست محمد', 'پاریز', 'قادرآباد', 'بلاوه',
       'ورزقان', 'گرمه', 'چمگردان', 'فاروج', 'زیباشهر', 'پرند', 'کوهسار',
       'کوخردهرنگ', 'راز', 'رامجرد', 'آجین', 'شلمان', 'ترکمانچای',
       'اصلاندوز', 'نصیرشهر', 'اردل', 'زنگی آباد', 'کاریز', 'بندر ریگ',
       'نودشه', 'چهارباغ', 'خوسف', 'اسلام آباد', 'نگور', 'سرعین',
       'دیلمان', 'مال خلیفه', 'جونقان', 'واجارگاه', 'گوگان', 'مصیری',
       'آرادان', 'خلیل شهر', 'مریانج', 'پاوه', 'بوئین میاندشت', 'سیریک',
       'تازیان پائین', 'ارکواز', 'صبا شهر', 'شهداد', 'دلوار', 'قلعه گنج',
       'انارک', 'آغاجاری', 'خاکعلی', 'بهاباد', 'چقابل', 'بیکاه', 'تشان',
       'دهق', 'اشکنان', 'سماله', 'عماد ده', 'چارک', 'زیارتعلی', 'مارگون',
       'طالخونچه', 'قلعه تل', 'هشتجین', 'سنگان', 'ارطه', 'فاریاب',
       'جنت مکان', 'آوج', 'زرین رود', 'سودجان', 'کیان', 'درود', 'زازران',
       'کیاکلا', 'بیدستان', 'گوگد', 'بجستان', 'لومار', 'جنت شهر',
       'غرق آباد', 'فرمهین', 'صوفیان', 'ارسنجان', 'سامن', 'جناح',
       'علی اکبر', 'چغادک', 'روداب', 'زرین آباد', 'مود', 'آوا', 'بفروئیه',
       'هرند', 'آبعلی', 'اسپکه', 'جاورسیان', 'زهان', 'فرون آباد', 'گلسار',
       'فرخی', 'فنوج', 'ندوشن', 'پارچین', 'دانسفهان', 'محمد یار', 'سگزی',
       'شوسف', 'رامشیر', 'تازه شهر', 'لیسار', 'خامنه', 'زرنه', 'الوان',
       'خاتون آباد', 'احمدابادمستوفی', 'میانرود', 'مرجقل', 'بیستون',
       'کلیشاد و سودرجان', 'شنبه', 'تازه آباد', 'ماه نشان', 'کارچان',
       'شمشک', 'بخشایش', 'وردنجان', 'وحدتیه', 'آسمان آباد', 'رازمیان',
       'گل تپه', 'کارزین', 'عقدا', 'نیک آباد', 'نگار', 'دشتک', 'سیه رود',
       'هفتگل', 'احمدآباد صولت', 'پهله', 'مورچه خورت', 'آبی بیگلو',
       'جویم', 'چلیچه', 'ربط', 'برزک', 'فهرج', 'پاتاوه', 'سلطانیه',
       'شادمهر', 'دامنه', 'دستک', 'تجریش', 'باب انار', 'تنکمان', 'قهاوند',
       'گمیش تپه', 'مرزن آباد', 'رانکوه', 'شریفیه', 'بروات', 'چابهار',
       'کیانشهر', 'قطرویه', 'دلگشا', 'بیرم', 'سلفچگان', 'گلباف', 'ارداق',
       'سیردان', 'پرندک', 'قلندر آباد', 'کنار تخته', 'یاسوکند',
       'مشهدریزه', 'حمیدیه', 'سراب دوره', 'گوراب زرمیخ', 'مجن', 'بنجار',
       'قائمیه', 'حویق', 'نوکنده', 'سجاس', 'سراب ذهاب', 'سعد آباد',
       'نراق', 'دابودشت', 'جوپار', 'جلین', 'سفید شهر', 'نوشین', 'آبسرد',
       'باینگان', 'بمپور', 'بلبان آباد', 'ریز', 'قره آغاج', 'هندودر',
       'دستناء', 'ارسک', 'آباده طشک', 'ایور', 'محمود آباد نمونه',
       'قطب آباد', 'پیشین', 'شند آباد', 'جواد آباد', 'خرامه', 'گلمورتی',
       'قدمگاه', 'شرفخانه', 'گوهران', 'چلگرد', 'باسمنج', 'نیمبلوک', 'حلب',
       'بهمن', 'لمزان', 'دیهوک', 'بهرمان', 'جنگل', 'خوراسگان',
       'حبیب آباد', 'آلونی', 'وحیدیه', 'آقکند', 'امین شهر', 'بنک',
       'زرگر محله', 'مرزیکلا', 'کوهستک', 'محی آباد', 'ریجاب', 'خرمدشت',
       'صفی آباد', 'زنوز', 'میمند', 'گرماب', 'امام حسن', 'قنوات', 'گنبکی',
       'شباب', 'سرو آباد', 'شیرین سو', 'قوشچی', 'اسیر', 'آزادی', 'نیر',
       'علامرودشت', 'عنبران', 'خرو', 'گتاب', 'تیکمه داش', 'باشت', 'یامچی',
       'ناغان', 'نودان', 'بهاران شهر', 'شهر زو', 'سگز آباد', 'کشاورز',
       'سراوان-گیلان', 'مهربان', 'اسلامیه', 'عنبر آباد', 'سراب باغ',
       'گردکشانه', 'صالح شهر', 'کوهین', 'خضر آباد', 'آبدان', 'ششده',
       'حمیدیا', 'کاخک', 'کمشجه', 'بازار جمعه', 'ترک', 'فدامی', 'داریان',
       'داود آباد', 'اروند کنار', 'خاوران', 'موچش', 'برزول', 'نظرکهریزی',
       'چرمهین', 'مادرسلیمان', 'زاهد شهر', 'سده', 'کلمه', 'معمولان',
       'ادیمی', 'آبژدان', 'ازناو', 'قلعه خواجه', 'ماکلوان', 'منصوریه',
       'سبزدشت', 'حسینیه', 'اختیار آباد', 'گرگاب', 'خوزی'], dtype=object)

# Organizing the dataset with ID_Customer and DataTime of Purchase

In [18]:
df_group = df.groupby(['ID_Customer','DateTime_CartFinalize'])['ID_Item'].apply(list)
df_group

ID_Customer  DateTime_CartFinalize
466132       2013-12-30 20:05:00.000       [5265]
             2015-02-12 18:41:10.000      [42545]
             2015-07-06 20:26:53.000      [81692]
             2016-09-07 00:33:05.000      [80046]
             2017-03-06 18:55:18.000      [75068]
                                          ...
7281740      2018-06-03 19:12:51.000    [1066301]
7281800      2018-06-07 04:48:56.000     [749760]
7281906      2018-05-31 23:57:32.000     [495616]
7282000      2018-06-10 11:29:01.000    [1065701]
7282118      2018-06-01 00:19:54.000     [683920]
Name: ID_Item, Length: 197631, dtype: object

# Creating list of items

In [19]:
l = [[str(i) for i in x] for x in df_group.values]

# Applying Encoder class for transaction data in Python lists

In [21]:
TE = TransactionEncoder()
TE_Fit = TE.fit(l).transform(l)
dataframe = pd.DataFrame(TE_Fit, columns=TE.columns_)
dataframe

,10000,1000003,1000007,1000020,1000060,1000066,100013,1000150,1000157,1000172,...,99975,99981,999812,99983,99986,99987,99988,999951,99996,99998
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197626,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197627,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197628,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197629,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197630,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# For doing easier process , we select limited number of our data and avoid using much memory

In [22]:
TE = TransactionEncoder()
TE_Fit = TE.fit(l[:1000]).transform(l[:1000])
dataframe = pd.DataFrame(TE_Fit, columns=TE.columns_)
dataframe

,1000602,100277,10034,100388,100736,1010909,10119,1013179,1016062,102420,...,984316,98475,98583,99005,99016,99040,99041,99064,99226,998693
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Finding frequent_itemset_apriori from apriori libraries

In [23]:
frequent_itemsets_apriori = apriori(dataframe, min_support=0.001, use_colnames=True)
frequent_itemsets_apriori

     support          itemsets
0      0.001         (1000602)
1      0.001          (100277)
2      0.001           (10034)
3      0.001          (100388)
4      0.001          (100736)
..       ...               ...
983    0.001   (199899, 51734)
984    0.001    (34813, 34806)
985    0.001  (473675, 599534)
986    0.001  (801172, 608800)
987    0.001  (977437, 768596)

[988 rows x 2 columns]

# Define a function for calculating X2, Imbalance Ratio and Lift

In [13]:
def x2_IR(df):
    dataframe['X2'] = dataframe['leverage'] ** 2 / df['support']
    dataframe['IR'] = abs(df['antecedent support'] - df['consequent support']) / (df['antecedent support'] + df['consequent support'] - df['support'])
    return df[[ 'consequents','antecedents', 'confidence', 'support','lift', 'X2', 'IR']]

# Showing the result

In [14]:
result = association_rules(frequent_itemsets_apriori, metric='lift', min_threshold=0.01)
result = x2_IR(result)
result

   consequents antecedents  confidence  support    lift        X2   IR
0     (124161)     (65304)         1.0    0.001  1000.0  0.000998  0.0
1      (65304)    (124161)         1.0    0.001  1000.0  0.000998  0.0
2     (128404)    (147967)         1.0    0.001   500.0  0.000996  0.5
3     (147967)    (128404)         0.5    0.001   500.0  0.000996  0.5
4    (1419298)    (498158)         1.0    0.001  1000.0  0.000998  0.0
5     (498158)   (1419298)         1.0    0.001  1000.0  0.000998  0.0
6     (146954)    (192926)         1.0    0.001  1000.0  0.000998  0.0
7     (192926)    (146954)         1.0    0.001  1000.0  0.000998  0.0
8     (186343)    (154714)         0.5    0.001   500.0  0.000996  0.5
9     (154714)    (186343)         1.0    0.001   500.0  0.000996  0.5
10    (165970)    (167534)         1.0    0.001  1000.0  0.000998  0.0
11    (167534)    (165970)         1.0    0.001  1000.0  0.000998  0.0
12   (1771143)   (1711488)         1.0    0.001  1000.0  0.000998  0.0
13   (1711488)   (1771143)         1.0    0.001  1000.0  0.000998  0.0
14    (550640)    (189579)         1.0    0.001  1000.0  0.000998  0.0
15    (189579)    (550640)         1.0    0.001  1000.0  0.000998  0.0
16     (51734)    (199899)         1.0    0.001  1000.0  0.000998  0.0
17    (199899)     (51734)         1.0    0.001  1000.0  0.000998  0.0
18     (34813)     (34806)         1.0    0.001  1000.0  0.000998  0.0
19     (34806)     (34813)         1.0    0.001  1000.0  0.000998  0.0
20    (599534)    (473675)         1.0    0.001  1000.0  0.000998  0.0
21    (473675)    (599534)         1.0    0.001  1000.0  0.000998  0.0
22    (801172)    (608800)         1.0    0.001  1000.0  0.000998  0.0
23    (608800)    (801172)         1.0    0.001  1000.0  0.000998  0.0
24    (768596)    (977437)         1.0    0.001  1000.0  0.000998  0.0
25    (977437)    (768596)         1.0    0.001  1000.0  0.000998  0.0

# Showing Significant Patterns

In [12]:
def significant(df):

    #IR
    print('\nrules with non-zero imbalance ratio (IR):\n')
    print(df[df['IR'] != 0])

    #Lift
    print('\nrules with maximum lift:\n')
    print(df[df['lift'] == df['lift'].max()])

    # X^2
    print('\nrules with maximum x2 (correlation):\n')
    print(df[df['X2'] == df['X2'].max()])

In [13]:
significant(result)

rules with non-zero imbalance ratio (IR):

  antecedents consequents  confidence  support   lift        X2   IR
2    (147967)    (128404)         1.0    0.001  500.0  0.000996  0.5
3    (128404)    (147967)         0.5    0.001  500.0  0.000996  0.5
8    (186343)    (154714)         1.0    0.001  500.0  0.000996  0.5
9    (154714)    (186343)         0.5    0.001  500.0  0.000996  0.5

rules with maximum lift:

   antecedents consequents  confidence  support    lift        X2   IR
0     (124161)     (65304)         1.0    0.001  1000.0  0.000998  0.0
1      (65304)    (124161)         1.0    0.001  1000.0  0.000998  0.0
4    (1419298)    (498158)         1.0    0.001  1000.0  0.000998  0.0
5     (498158)   (1419298)         1.0    0.001  1000.0  0.000998  0.0
6     (146954)    (192926)         1.0    0.001  1000.0  0.000998  0.0
7     (192926)    (146954)         1.0    0.001  1000.0  0.000998  0.0
10    (165970)    (167534)         1.0    0.001  1000.0  0.000998  0.0
11    (167534)    (165970)         1.0    0.001  1000.0  0.000998  0.0
12   (1771143)   (1711488)         1.0    0.001  1000.0  0.000998  0.0
13   (1711488)   (1771143)         1.0    0.001  1000.0  0.000998  0.0
14    (550640)    (189579)         1.0    0.001  1000.0  0.000998  0.0
15    (189579)    (550640)         1.0    0.001  1000.0  0.000998  0.0
16    (199899)     (51734)         1.0    0.001  1000.0  0.000998  0.0
17     (51734)    (199899)         1.0    0.001  1000.0  0.000998  0.0
18     (34813)     (34806)         1.0    0.001  1000.0  0.000998  0.0
19     (34806)     (34813)         1.0    0.001  1000.0  0.000998  0.0
20    (599534)    (473675)         1.0    0.001  1000.0  0.000998  0.0
21    (473675)    (599534)         1.0    0.001  1000.0  0.000998  0.0
22    (801172)    (608800)         1.0    0.001  1000.0  0.000998  0.0
23    (608800)    (801172)         1.0    0.001  1000.0  0.000998  0.0
24    (977437)    (768596)         1.0    0.001  1000.0  0.000998  0.0
25    (768596)    (977437)         1.0    0.001  1000.0  0.000998  0.0

rules with maximum x2 (correlation):

   antecedents consequents  confidence  support    lift        X2   IR
0     (124161)     (65304)         1.0    0.001  1000.0  0.000998  0.0
1      (65304)    (124161)         1.0    0.001  1000.0  0.000998  0.0
4    (1419298)    (498158)         1.0    0.001  1000.0  0.000998  0.0
5     (498158)   (1419298)         1.0    0.001  1000.0  0.000998  0.0
6     (146954)    (192926)         1.0    0.001  1000.0  0.000998  0.0
7     (192926)    (146954)         1.0    0.001  1000.0  0.000998  0.0
10    (165970)    (167534)         1.0    0.001  1000.0  0.000998  0.0
11    (167534)    (165970)         1.0    0.001  1000.0  0.000998  0.0
12   (1771143)   (1711488)         1.0    0.001  1000.0  0.000998  0.0
13   (1711488)   (1771143)         1.0    0.001  1000.0  0.000998  0.0
14    (550640)    (189579)         1.0    0.001  1000.0  0.000998  0.0
15    (189579)    (550640)         1.0    0.001  1000.0  0.000998  0.0
16    (199899)     (51734)         1.0    0.001  1000.0  0.000998  0.0
17     (51734)    (199899)         1.0    0.001  1000.0  0.000998  0.0
18     (34813)     (34806)         1.0    0.001  1000.0  0.000998  0.0
19     (34806)     (34813)         1.0    0.001  1000.0  0.000998  0.0
20    (599534)    (473675)         1.0    0.001  1000.0  0.000998  0.0
21    (473675)    (599534)         1.0    0.001  1000.0  0.000998  0.0
22    (801172)    (608800)         1.0    0.001  1000.0  0.000998  0.0
23    (608800)    (801172)         1.0    0.001  1000.0  0.000998  0.0
24    (977437)    (768596)         1.0    0.001  1000.0  0.000998  0.0
25    (768596)    (977437)         1.0    0.001  1000.0  0.000998  0.0

# FPGrowth of Main Dataset

In [14]:
frequent_itemsets_fpg = fpgrowth(df, min_support=0.001, use_colnames=True)
frequent_itemsets_fpg

     support           itemsets
0      0.001             (5265)
1      0.001            (42545)
2      0.001            (81692)
3      0.001            (80046)
4      0.001            (75068)
..       ...                ...
983    0.001   (550640, 189579)
984    0.001   (165970, 167534)
985    0.001     (34813, 34806)
986    0.001  (1419298, 498158)
987    0.001   (599534, 473675)

[988 rows x 2 columns]

In [15]:
result_fpg = association_rules(frequent_itemsets_fpg, metric='lift', min_threshold=0.01)
result_fpg = x2_IR(result_fpg)
result_fpg

   antecedents consequents  confidence  support    lift        X2   IR
0    (1771143)   (1711488)         1.0    0.001  1000.0  0.000998  0.0
1    (1711488)   (1771143)         1.0    0.001  1000.0  0.000998  0.0
2     (801172)    (608800)         1.0    0.001  1000.0  0.000998  0.0
3     (608800)    (801172)         1.0    0.001  1000.0  0.000998  0.0
4     (124161)     (65304)         1.0    0.001  1000.0  0.000998  0.0
5      (65304)    (124161)         1.0    0.001  1000.0  0.000998  0.0
6     (186343)    (154714)         1.0    0.001   500.0  0.000996  0.5
7     (154714)    (186343)         0.5    0.001   500.0  0.000996  0.5
8     (146954)    (192926)         1.0    0.001  1000.0  0.000998  0.0
9     (192926)    (146954)         1.0    0.001  1000.0  0.000998  0.0
10    (147967)    (128404)         1.0    0.001   500.0  0.000996  0.5
11    (128404)    (147967)         0.5    0.001   500.0  0.000996  0.5
12    (977437)    (768596)         1.0    0.001  1000.0  0.000998  0.0
13    (768596)    (977437)         1.0    0.001  1000.0  0.000998  0.0
14    (199899)     (51734)         1.0    0.001  1000.0  0.000998  0.0
15     (51734)    (199899)         1.0    0.001  1000.0  0.000998  0.0
16    (550640)    (189579)         1.0    0.001  1000.0  0.000998  0.0
17    (189579)    (550640)         1.0    0.001  1000.0  0.000998  0.0
18    (165970)    (167534)         1.0    0.001  1000.0  0.000998  0.0
19    (167534)    (165970)         1.0    0.001  1000.0  0.000998  0.0
20     (34813)     (34806)         1.0    0.001  1000.0  0.000998  0.0
21     (34806)     (34813)         1.0    0.001  1000.0  0.000998  0.0
22   (1419298)    (498158)         1.0    0.001  1000.0  0.000998  0.0
23    (498158)   (1419298)         1.0    0.001  1000.0  0.000998  0.0
24    (599534)    (473675)         1.0    0.001  1000.0  0.000998  0.0
25    (473675)    (599534)         1.0    0.001  1000.0  0.000998  0.0

# Define function for proccessing Tehran city dataset

In [19]:
def process(df, city, n=0):
    
    df1 = df[df['city_name_fa'] == city]
    df_g = df1.groupby(['ID_Customer','DateTime_CartFinalize'])['ID_Item'].apply(list)

    l = [[str(i) for i in x] for x in df_g.values]
    print(f'number of items: {len(l)}')
    
    te = TransactionEncoder()
    if n:
        te_ary = te.fit(l[:n]).transform(l[:n])
    else:
        te_ary = te.fit(l).transform(l)
    df_out = pd.DataFrame(te_ary, columns=te.columns_)
    return df_out

## Tehran city dataset

In [21]:
# For avoid using much memory , we use limited number of data 

tehran = process(df, 'تهران', 1000)
tehran

number of items: 107075

,1000602,100277,10034,1003417,100388,100736,1010909,1011806,10119,1021149,...,98350,98420,98475,98583,986395,98748,99014,99041,9959,9996
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Apriori algortihm for Tehran city

In [22]:
frequent_itemsets_apriori_teh = apriori(df_tehran, min_support=0.001, use_colnames=True)
result_apriori_teh = association_rules(frequent_itemsets_apriori_teh, metric='lift',  min_threshold=0.01)
result_apriori_teh = x2_IR(result_apriori_teh)
result_apriori_teh

   antecedents consequents  confidence  support    lift        X2   IR
0     (114689)    (158442)         1.0    0.001  1000.0  0.000998  0.0
1     (158442)    (114689)         1.0    0.001  1000.0  0.000998  0.0
2     (120997)     (38182)         1.0    0.001  1000.0  0.000998  0.0
3      (38182)    (120997)         1.0    0.001  1000.0  0.000998  0.0
4     (124161)     (65304)         1.0    0.001  1000.0  0.000998  0.0
5      (65304)    (124161)         1.0    0.001  1000.0  0.000998  0.0
6      (86301)    (124164)         1.0    0.001  1000.0  0.000998  0.0
7     (124164)     (86301)         1.0    0.001  1000.0  0.000998  0.0
8     (147967)    (128404)         1.0    0.001   500.0  0.000996  0.5
9     (128404)    (147967)         0.5    0.001   500.0  0.000996  0.5
10    (131065)     (91365)         1.0    0.001  1000.0  0.000998  0.0
11     (91365)    (131065)         1.0    0.001  1000.0  0.000998  0.0
12    (146954)    (192926)         1.0    0.001  1000.0  0.000998  0.0
13    (192926)    (146954)         1.0    0.001  1000.0  0.000998  0.0
14   (1771143)   (1711488)         1.0    0.001  1000.0  0.000998  0.0
15   (1711488)   (1771143)         1.0    0.001  1000.0  0.000998  0.0
16    (199899)     (51734)         1.0    0.001  1000.0  0.000998  0.0
17     (51734)    (199899)         1.0    0.001  1000.0  0.000998  0.0
18     (70492)    (262701)         1.0    0.001  1000.0  0.000998  0.0
19    (262701)     (70492)         1.0    0.001  1000.0  0.000998  0.0
20     (34813)     (34806)         1.0    0.001  1000.0  0.000998  0.0
21     (34806)     (34813)         1.0    0.001  1000.0  0.000998  0.0
22    (520165)     (99041)         1.0    0.001  1000.0  0.000998  0.0
23     (99041)    (520165)         1.0    0.001  1000.0  0.000998  0.0
24    (801172)    (608800)         1.0    0.001  1000.0  0.000998  0.0
25    (608800)    (801172)         1.0    0.001  1000.0  0.000998  0.0
26    (779674)      (8678)         1.0    0.001  1000.0  0.000998  0.0
27      (8678)    (779674)         1.0    0.001  1000.0  0.000998  0.0

# FPGrowth algorithm for Tehran City

In [24]:
frequent_itemsets_fpg_teh = fpgrowth(df_tehran, min_support=0.001, use_colnames=True)

result_fpg_teh = association_rules(frequent_itemsets_fpg_teh, metric='lift', min_threshold=0.01)
result_fpg_teh = x2_IR(result_fpg_teh)
result_fpg_teh

   antecedents consequents  confidence  support    lift        X2   IR
0    (1771143)   (1711488)         1.0    0.001  1000.0  0.000998  0.0
1    (1711488)   (1771143)         1.0    0.001  1000.0  0.000998  0.0
2     (801172)    (608800)         1.0    0.001  1000.0  0.000998  0.0
3     (608800)    (801172)         1.0    0.001  1000.0  0.000998  0.0
4     (124161)     (65304)         1.0    0.001  1000.0  0.000998  0.0
5      (65304)    (124161)         1.0    0.001  1000.0  0.000998  0.0
6     (146954)    (192926)         1.0    0.001  1000.0  0.000998  0.0
7     (192926)    (146954)         1.0    0.001  1000.0  0.000998  0.0
8     (147967)    (128404)         1.0    0.001   500.0  0.000996  0.5
9     (128404)    (147967)         0.5    0.001   500.0  0.000996  0.5
10    (199899)     (51734)         1.0    0.001  1000.0  0.000998  0.0
11     (51734)    (199899)         1.0    0.001  1000.0  0.000998  0.0
12     (34813)     (34806)         1.0    0.001  1000.0  0.000998  0.0
13     (34806)     (34813)         1.0    0.001  1000.0  0.000998  0.0
14    (131065)     (91365)         1.0    0.001  1000.0  0.000998  0.0
15     (91365)    (131065)         1.0    0.001  1000.0  0.000998  0.0
16    (779674)      (8678)         1.0    0.001  1000.0  0.000998  0.0
17      (8678)    (779674)         1.0    0.001  1000.0  0.000998  0.0
18     (70492)    (262701)         1.0    0.001  1000.0  0.000998  0.0
19    (262701)     (70492)         1.0    0.001  1000.0  0.000998  0.0
20    (114689)    (158442)         1.0    0.001  1000.0  0.000998  0.0
21    (158442)    (114689)         1.0    0.001  1000.0  0.000998  0.0
22    (520165)     (99041)         1.0    0.001  1000.0  0.000998  0.0
23     (99041)    (520165)         1.0    0.001  1000.0  0.000998  0.0
24     (86301)    (124164)         1.0    0.001  1000.0  0.000998  0.0
25    (124164)     (86301)         1.0    0.001  1000.0  0.000998  0.0
26    (120997)     (38182)         1.0    0.001  1000.0  0.000998  0.0
27     (38182)    (120997)         1.0    0.001  1000.0  0.000998  0.0